
<!DOCTYPE html>
<html lang="en">

<body>
  <!-- .content class on the div is for the Sticky Footer  -->
  <div class="content">
  {% include _header.html %}


  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>
      {{ site.title }}
    </title>
  	<meta name="author" content='{{ site.author.name }}'>
     <meta name="description" content="{{ site.description }}">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="{{ '/css/tachyons.css' | url }}">
  	  <link rel="stylesheet" href="/css/css.css">
   	<link rel="stylesheet" href="{{ '/assets/css/sticky-footer.css' | url }}">

  	  <!-- Styles -->
  	  <!-- <link rel="stylesheet" href="https://unpkg.com/tachyons@{{ site.tv }}/css/tachyons.min.css"/>

  		<link rel="stylesheet" href="{{ "/css/css.css" | prepend: relative_url }}">
  		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  		<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
   -->

  </head>



  <article class="found-light ">


    <!-- title  -->





    <div class="vh-100 dt w-100 tc white cover br3">
    <div class="dtc v-mid">
    <div class="ttu f-big tracked-tight black">Gratitude & Love </div>
    <div class="">
    <div class="black f3 fw1 ttu pt5">Year 3 </div>
    <div class="black f3 fw1 pt0 ">Annual Joe & Olivia Day </div>
    </div>
    </div>
    </div>


    <!-- start  -->


    <!-- next chapter  -->

    <div class="cf dt-l w-100 bt b--black-20 pb6"></div>
    <div class="cf w-100 ">
      <div class="center">
      <h1 class=" tc f2-l w-60 center mb0">Chapter 1</h1>
      <p class="f3 lh-copy center pb6 tc">
  A new relationship, so much adventure, learning, change, and love.
      </p>
    </div>
    </div>


    <section class="center mw9-l w-100">

    <div class="vh-100 dt w-100 mb5">
    <div
    style="background:url(images/IMG_2711.png) no-repeat center bottom;background-size: "
    class="dtc cover br3 ph6 ph7-l">
    </div>
    </div>

  <div class="vh-100 dt w-100 tc white cover br3">
    <div class="dtc v-mid">
    <div class="ttu f-f1 tracked-tight black">First off, I love you so very much!</div>
  </div>
  </div>

  <div class="cf w-100 ">
    <div class=" center ph2 ph3-l">
    <h1 class=" tc pb7 pt5 f2-l f3 w-60 center ">It's been a long time and I wanted to create a memory <span class="i">web</span>-lane.</h1>

  <div class="cf dt-l w-100 bt b--black-20 pb7"></div>

  <!-- first chapter -->


  <div class="w-50-l w-100 center">
    <figure class="center pr2-l pb6 ">
    <img class="db pb2 w-100 br3" src="images/png5" alt="first photo">
    <figcaption> Our first photo together. </figcaption>
    </figure>
    <div class="fl w-100 pb6">
    <p class="f3 lh-copy measure pb0">
    Thanks to Google Photos I have been able to keep track of every photo I've taken and while I was scrolling through, it gave me this idea to put together a website that can take us down memory lane. Also Gabe built a scavenger hunt website and I'm basically appropriating his idea. But I tried really hard and that's what counts right?
    <p class="pt0  mt0 indent f3 lh-copy measure"> This is the first photo I have of us together, I remember there being a few months where we both said we should probably have a photo together, so I took this. </p>
    </div>
    <div class="center pb6">
    <img class="db pb2 w-100 br3" src="images/png8" alt="Got some cool shots climbing">
    <caption> It was the same trip Jacob took professional climbing photos of us!</caption>
    </div>
    <div class="fl w-100">
    <p class="f3 lh-copy measure pb6">
    Then you left for a whole month and sent me a bunch of real cute photos. But also had an awful time getting into India, and got to hang out with all the rich people.
    </p>
    </div>
    </div>
    </div>
    </div>

    <article class="ph2 pb6 cf">
    <div class="ph2 fl tc pv4 w-100 w-50-m w-25-l">
    <div class="aspect-ratio aspect-ratio--3x4">
    <div class="aspect-ratio--object cover br3" style="background:url(images/png9) center;">
    </div>
    </div>
    </div>
    <div class="ph2 fl tc pv4 w-100 w-50-m w-25-l">
    <div class=" aspect-ratio aspect-ratio--3x4">
    <div class="aspect-ratio--object cover br3" style="background:url(images/png11) center;">
    </div>
    </div>
    </div>
    <div class="ph2 fl tc pv4 w-100 w-50-m w-25-l">
    <div class=" aspect-ratio aspect-ratio--4x3">
    <div class="aspect-ratio--object cover br3" style="background:url(images/png13) center;">
    </div>
    </div>
    </div>
    <div class="ph2 fl tc pv4 w-100 w-50-m w-25-l">
    <div class=" aspect-ratio aspect-ratio--4x3">
    <div class="aspect-ratio--object cover br3" style="background:url(images/png14) center;">
    </div>
    </div>
    </div>
    </article>

  <div class="w-50-l w-100 center">
    <div class="cf w-100 ">
    <div class=" center">
    <div class="fl w-100">
    <p class="f3 lh-copy measure pb6">
    For my birthday you  took me snowboarding at Snowshoe and to my first ever Airbnb, with that very nice host who made us toast.
    </p>
    </div>
    </div>
    </div>
    </div>

    <article class="ph2 pb6 cf">
    <div class="ph2 fl tc pv4 w-100 w-50-l">
    <div class="aspect-ratio aspect-ratio--3x4">
    <div class="aspect-ratio--object cover br3" style="background:url(images/IMG_0818.png) center;">
    </div>
    </div>
    </div>
    <div class="ph2 fl tc pv4 w-100 w-50-l">
    <div class=" aspect-ratio aspect-ratio--3x4">
    <div class="aspect-ratio--object cover br3" style="background:url(images/IMG_0818copy.png) center;">
    </div>
    </div>
    </div>

    </article>

    <div class="w-50-l w-100 center">
    <div class="cf w-100 ">
    <div class="fl w-100">
    <p class="f3 lh-copy measure pb6">
    Also we almost killed Shelly.
    </p>
    </div>
    </div>
    </div>
    <div class="w-50-l w-100 center">
    <figure class="center pr2-l pb6">
    <img class="db pb2 w-100 br3" src="images/IMG_0822.png" alt="first photo">
    <figcaption> scampering in the snow. </figcaption>
    </figure>
    </div>


    <div class="cf w-100 ph3">
    <div class=" center ph2 ph3-l">
    <h1 class=" tc pb7 pt5 f2-l f3 w-60 center ">Then a bunch of other things happened from then until April that I don't have any photos of but in April it got exciting.</h1>
    </div>

    <div class="pb7 dt w-100 tc white cover br3">
    <div class="cf w-100">
    <div class="ttu f-f1 tracked-tight black">The Big Move</div>
    </div>
    </div>
    <div class="w-50-l w-100 center">
    <figure class="center fl pb5">
    <img class="f3 lh-copy pb2 br3" src="images/IMG_0913.png" alt="first photo">
    <figcaption> We got Sharon. Look how clean and new she is!</figcaption>
    </figure>
    </div>
    <div class="w-50-l w-100 center">
    <div class="cf w-100 ">
    <div class="fl w-100">
    <p class="f3 lh-copy measure">
    We built our first attempt at the van bed and learned that woodworking together is not fun. But we did it and learned more about each other <3.
    </p>
    <p class="pt0  mt0 indent f3 lh-copy measure pb6"> Look how bad that thing is hahaha. Like always, I made things way harder than they needed to be. But it got us across the country and that is pretty awesome.</p>
    </div>
    </div>
    </div>

    <article class="pb6 cf">
    <div class="ph2 fl tc w-100 w-50-m w-third-l">
    <div class="aspect-ratio aspect-ratio--3x4">
    <div class="aspect-ratio--object cover br3" style="background:url(images/IMG_0923copy.png) center;">
    </div>
    </div>
    </div>
    <div class="ph2 fl tc  w-100 w-50-m w-third-l">
    <div class=" aspect-ratio aspect-ratio--3x4">
    <div class="aspect-ratio--object cover br3" style="background:url(images/IMG_0925copy.png) center;">
    </div>
    </div>
    </div>
    <div class="ph2 fl tc  w-100 w-third-l">
    <div class=" aspect-ratio aspect-ratio--3x4">
    <div class="aspect-ratio--object cover br3" style="background:url(images/IMG_0926.png) center;">
    </div>
    </div>
    </div>

    </article>

    <div class="w-50-l w-100 center">
    <div class="cf w-100 ">
    <div class="fl w-100">
    <p class="f3 lh-copy measure pb6">
    Then we were off to start an amazing two and a half years full of learning, growing, and becoming closer every day.
    </p>
    </div>
    </div>
    </div>



    <main class="w-100 cf dark-gray bg-white center">
        <div class="fl w-third pr2 mb3 ">
          <div class="cover br3 pv5 pv6-m pv7-l" style="background:black url(images/IMG_0936.png) center;"></div>
        </div>
        <div class="fl w-50 w-third-l pl2 mb3 ">
          <div class="cover br3 pv5 pv6-m pv7-l" style="background:black url(images/IMG_0935.png) center;"> </div>
        </div>
        <div class="fl w-50 w-third-l pr2 pr0-l pl3-l mb3">
            <div class="cover br3 pv5 pv6-m pv7-l" style="background:black url(images/IMG_0940copy.png) left;"> </div>
          </div>
        <div class="fl w-50 w-third-l pr3 mb3">
          <div class="cover br3 pv5 pv6-m pv7-l" style="background:black url(images/IMG_0955copy.png) center;"> </div>
        </div>
        <div class="ph2 pt0 fl w-third-l">
            <p class="f2">
            Can you believe that all this happened over two years ago. And here we are, making another adventure for ourselves for the next two years.
            </p>
        </div>
        <div class="cf">
          <div class="fl w-50 w-third-l pr2 pr0-l pl3-l mb3">
              <div class="cover br3 pv5 pv6-m pv7-l" style="background:black url(images/IMG_0971.png) center;"> </div>
          </div>
          <div class="fl w-100 pv0 mv0">
            <div class="fl w-100 pb3">
              <div class="cover br3 pv7" style="background:black url(images/IMG_1001.png) center;"> </div>
            </div>
            <div class="fl w-50 mb3 ">
              <div class="cover br3 pv3 pv6-m pv7-l" style="background:black url(images/IMG_1013.png) center;"> </div>
            </div>
            <div class="fl w-50 pl3  mb3">
              <div class="cover br3 pv5 pv6-m pv7-l" style="background:black url(images/IMG_1151.png) center;"> </div>
            </div>
            <div class="fl w-100 mb3">
                <div class="cover br3 pv7 pv7-ns" style="background:black url(images/IMG_1193.png) center;"> </div>
            </div>
          </div>
        </div>
        <div class="fl w-third pr2 mb3 ">
          <div class="cover br3 pv5 pv6-m pv7-l" style="background:black url(images/zion.png) center;"></div>
        </div>
        <div class="fl w-50 w-third-l pl2 mb3 ">
          <div class="cover br3 pv5 pv6-m pv7-l" style="background:black url(images/IMG_1177.png) center;"> </div>
        </div>
        <div class="fl w-50 w-third-l pr2 pr0-l pl3-l mb3">
            <div class="cover br3 pv5 pv6-m pv7-l" style="background:black url(images/IMG_1128.png) left;"> </div>
          </div>
          <div class="ph2 pt6 pb6 tc w-100 pt0 fl ">
              <p class="f2">
              After this we high-tailed it to california only to stop in Yosemite for an hour or so. What a journey we decided to take together!
              </p>
          </div>
          <div class="w-50-l w-100 center">
          <figure class="center pr2-l pb6">
          <img class="db pb2 w-100 br3" src="images/yosemite.png" alt="first photo">
          <figcaption> You are amazing. </figcaption>
          </figure>
          </div>
    </main>



   <div class="cf w-100 ">
     <div class="center">
     <h1 class=" tc f2-l w-60 center mb0 pb6">We made it to California!</h1>
   </div>
   </div>


   <article class=" pb6 cf">
   <div class=" pr2 fl tc pv3 w-100 w-50-l">
   <div class="aspect-ratio aspect-ratio--3x4">
   <div class="aspect-ratio--object cover br3" style="background:url(images/dogpatch-1.png") center;">
   </div>
   </div>
   </div>
   <div class="fl tc pl2 pv3 w-100 w-50-l">
   <div class=" aspect-ratio aspect-ratio--3x4">
   <div class="aspect-ratio--object cover br3" style="background:url(images/dogpatch-2.png) center;">
   </div>
   </div>
   </div>
   <div class=" fl tc w-100 ">
   <div class=" aspect-ratio aspect-ratio--4x3">
   <div class="aspect-ratio--object cover br3" style="background:url(images/dogpatch-3.png) center;">
   </div>
   </div>
   </div>

   </article>



   <div class="w-50-l w-100 center">
     <div class="cf w-100 ">
     <div class=" center">
     <div class="fl w-100">
     <p class="f3 lh-copy measure ">
     We made it, I remember getting on the bridge and saying "we live in California now, isn't that weird?"!
     <p class="pt0 pb6 mt0 indent f3 lh-copy measure">
       We got our first apartment together the same weekend we showed up ( silly us should have searched more ) but, it treated us well... until we left it. I started work immediatly and we were off, already living in San Francisco, starting our little doma (lol) and waiting patiently for the two nuggets to show up.
       </p>
     </div>
     </div>
     </div>
     </div>
     <div class="w-50-l w-100 center">
     <figure class="center pr2-l pb6">
     <img class="db pb2 w-100 br3" src="images/snoozy.png" alt="first photo">
     <figcaption> Post nugget return I found you like this. </figcaption>
     </figure>
     </div>

     <div class="w-50-l w-100 center">
       <div class="cf w-100 ">
       <div class=" center">
       <div class="fl w-100">
       <p class="f3 lh-copy measure pb6">
       You started pottery and were immediatly making amazing work... and then we found out that I have butter fingers... like bad.
       </div>
       </div>
       </div>
       </div>

        <article class=" pb6 cf">
        <div class=" pr2 fl tc pv3 w-100 w-50-l">
        <div class="aspect-ratio aspect-ratio--3x4">
        <div class="aspect-ratio--object cover br3" style="background:url(images/ugly-mug.png") center;">
        </div>
        </div>
        </div>
        <div class="pl2 fl tc pv3 w-100 w-50-l">
        <div class=" aspect-ratio aspect-ratio--3x4">
        <div class="aspect-ratio--object cover br3" style="background:url(images/ugly-mug-2.png) center;">
        </div>
        </div>
        </div>
        <div class=" fl tc w-100 ">
        <div class=" aspect-ratio aspect-ratio--4x3">
        <div class="aspect-ratio--object cover br3" style="background:url(images/ugly-mug-3.png) center;">
        </div>
        </div>
        </div>

        </article>


        <div class="w-50-l w-100 center">
          <div class="cf w-100 ">
          <div class=" center">
          <div class="fl w-100">
          <p class="f3 lh-copy measure pb6">
          We took our first trip to Tahoe and boy was it a blast!!! We got dirty and ripped it up on that super flowy course, but I died riding up that hill, and you crushed it of course. Then we ate tacos and had a slurpee. Also, I almost climbed that sketchy climb without tying in. Good thing we're in Utah now.
          </div>
          </div>
          </div>
          </div>


          <article class=" pb6 cf">
          <div class=" pr2 fl tc pv3 w-100 w-third-l">
          <div class="aspect-ratio aspect-ratio--3x4">
          <div class="aspect-ratio--object cover br3" style="background:url(images/tahoe-1.png") center;">
          </div>
          </div>
          </div>
          <div class=" fl ph1 tc pv3 w-100 w-third-l">
          <div class=" aspect-ratio aspect-ratio--3x4">
          <div class="aspect-ratio--object cover br3" style="background:url(images/tahoe1-1.png) center;">
          </div>
          </div>
          </div>
          <div class="pl2 fl tc pv3 w-100 w-third-l ">
          <div class=" aspect-ratio aspect-ratio--3x4">
          <div class="aspect-ratio--object cover br3" style="background:url(images/tahoe-1-3.png) center;">
          </div>
          </div>
          </div>

          </article>


          <div class="w-50-l w-100 center">
            <div class="cf w-100 ">
            <div class=" center">
            <div class="fl w-100">
            <p class="f3 lh-copy measure pb6">
          We took a couple more trips before the first snowboarding season... but I just think these photos are cute.
            </div>
            </div>
            </div>
            </div>



          <article class=" pb6 cf">

          <div class="pr2 fl tc pv3 w-100 w-50-l">
          <div class=" aspect-ratio aspect-ratio--3x4">
          <div class="aspect-ratio--object cover br3" style="background:url(images/tahoe-2-2.png) center;">
          </div>
          </div>
          </div>
          <div class="pl2 fl tc pv3 w-100 w-50-l ">
          <div class=" aspect-ratio aspect-ratio--3x4">
          <div class="aspect-ratio--object cover br3" style="background:url(images/tahoe-2-3.png) center;">
          </div>
          </div>
          </div>

          </article>



  <!-- thailande -->

  <div class="w-50-l w-100 center">
    <div class="cf w-100 ">
    <div class=" center">
    <div class="fl w-100">
    <p class="f3 lh-copy measure pb6">
  We got to cuddle with some cute li-tan poopies.
    </div>
    </div>
    </div>
    </div>



  <div class="w-50-l w-100 center">
  <figure class="center pr2-l pb6">
  <img class="db pb2 w-100 br3" src="images/poopie.png" alt="first photo">
  </figure>
  </div>



  <div class="w-50-l w-100 center">
    <div class="cf w-100 ">
    <div class=" center">
    <div class="fl w-100">
    <p class="f3 lh-copy measure">
  Then we took our christmas trip to Thailand and found out that I have severe temper-tantrums. I was hot the whole time, but this place was really cool and I miss those elephants and riding a scooter with no rules! Getting to hang out with your parents was such a blast and our unconventional Christmas turned out to be a really great day. Who knew giving an elepahnt a bath would be one of the most amazing expereinces in the world... so far.
  <p class="pt0 pb6 mt0 indent f3 lh-copy measure">
    You have taught me so much about my own comforts and preconceived notions about my own expereinces. This trip taught me so much that Christmas doesn't always have to be the same every year.
    </p>
    </div>
    </div>
    </div>
    </div>



            <main class="w-100 cf dark-gray center">
                <div class="fl w-third pr2  mb3 ">
                  <div class="cover br3 pv5 pv6-m pv7-l" style="background:black url(images/thai-tuk.png) center;"></div>
                </div>
                <div class="fl w-50 w-third-l ph1 mb3 ">
                  <div class="cover br3 pv5 pv6-m pv7-l" style="background:black url(images/thai-sweaty.png) center;"> </div>
                </div>
                <div class="fl w-50 w-third-l pl2 mb3">
                    <div class="cover br3 pv5 pv6-m pv7-l" style="background:black url(images/thai-coffee-shop.png) left;"> </div>
                  </div>
                <div class="fl w-50 w-third-l pr2 mb3">
                  <div class="cover br3 pv5 pv6-m pv7-l" style="background:black url(images/thai-elephants.png) center;"> </div>
                </div>
                <div class="ph2 pt0 fl w-third-l">
                    <p class="f2">
                    ^ lol so sweaty, were glowing.
                    <p class="pt0 pb6 mt0 indent f2 lh-copy measure">
                    We got swindled by all the tuk-tuk drivers, and that suit shop. But everything was still so cheap that it really didn't matter that much in the long run.

                    </p>
                </div>
                <div class="cf">
                  <div class="fl w-50 w-third-l pl2 mb3">
                      <div class="cover br3 pv5 pv6-m pv7-l" style="background:black url(images/thai-last-day.png) center;"> </div>
                  </div>
                  <div class="fl w-100 pv0 mv0">
                    <div class="fl w-100 pb3">
                      <div class="cover br3 pv7" style="background:black url(images/thai-last-day-2.png) center;"> </div>
                    </div>
                    <div class="fl w-50 mb3 pr2 ">
                      <div class="cover br3 pv5 pv6-m pv7-l" style="background:black url(images/thai-pixel.png) center;"> </div>
                    </div>
                    <div class="fl w-50 pl2 mb3 ">
                      <div class="cover br3 pv5 pv6-m pv7-l" style="background:black url(images/thai-bangkok.png) center;"> </div>
                    </div>
                  </div>
                </div>
                <div class="tc center w-50-l w-100 pr2 pr3-l mb3 ">
                    <div class="cover br3 tc pv5 pv6-m pv7-l" style="background:black url(images/thai-water-bottle.png) center;"> </div>
                </div>


                  <div class="ph2 pt6 pb6 tc w-100 pt0 fl cf">
                      <p class="f2 pb6">
                      Snowboard time!!!! These photos are from last season. <br> This was our first true season snowboarding at a real intense ski resourt and we quickly got our snow feet.
                      </p>
                  <div class="cf w-50-l w-100 center">
                  <div class="tc center pr2 pr3-l mb3 ">
                      <div class="cover br3 tc pv5 pv6-m pv7-l" style="background:black url(images/squaw.png) center;"> </div>
                  </div>
                  </div>
                  </div>
            </main>



                  <div class="w-50-l w-100 center">
                    <div class="cf w-100 ">
                    <div class=" center">
                    <div class="fl w-100">
                    <p class="f3 lh-copy measure pb6">
                    I'll just leve these photos here because they are so rad. Not exacty apart of the timeline but who cares! Lets look at some cool photos from our life, this is our story, we are in controll of this timeline. YOLO.
                    </div>
                    </div>
                    </div>
                    </div>


                    <article class=" pb6 cf">
                    <div class=" pr2 fl tc pv3 w-100 w-third-l">
                    <div class="aspect-ratio aspect-ratio--3x4">
                    <div class="aspect-ratio--object cover br3" style="background:url(images/squaw-2.png) center;">
                    </div>
                    </div>
                    </div>
                    <div class="ph1 fl tc pv3 w-100 w-third-l">
                    <div class=" aspect-ratio aspect-ratio--3x4">
                    <div class="aspect-ratio--object cover br3" style="background:url(images/squaw-4.png) center;">
                    </div>
                    </div>
                    </div>
                    <div class="pl2 fl tc pt3 w-100 w-third-l ">
                    <div class=" aspect-ratio aspect-ratio--3x4">
                    <div class="aspect-ratio--object cover br3" style="background:url(images/suaw-3.png) center;">
                    </div>
                    </div>
                    </div>

                    </article>


                                          <div class="w-50-l w-100 center">
                                            <div class="cf w-100 ">
                                            <div class=" center">
                                            <div class="fl w-100">
                                            <p class="f3 lh-copy measure pb6">
                                              Okay okay. Back to the timeline.
                                              Jacob and Ande came to visit us! This was definitely a strange trip but regardless seeing them was so nice.
                                            </div>
                                            </div>
                                            </div>
                                            </div>
                                            <div class="w-50-l w-100 center">
                                            <figure class="center pr2-l pb6">
                                            <img class="db pb2 w-100 br3" src="images/jacob-ande.png" alt="first photo">
                                            </figure>
                                            </div>



                    <div class="ph2 pb6 tc w-100 pt0 fl cf">
                        <p class="f2 ">
                      Just before this Cole and leo came... I think that is right... and our van had an attempted breaking. Fuck San Francisco.
                        </p>
                        </div>


                    <article class=" pb6 cf">
                    <div class=" pr2 fl tc pv3 w-100 w-50-l">
                    <div class="aspect-ratio aspect-ratio--3x4">
                    <div class="aspect-ratio--object cover br3" style="background:url(images/van.png) center;">
                    </div>
                    </div>
                    </div>
                    <div class="pl2 fl tc pv3 w-100 w-50-l">
                    <div class=" aspect-ratio aspect-ratio--3x4">
                    <div class="aspect-ratio--object cover br3" style="background:url(images/van-2.png) center;">
                    </div>
                    </div>
                    </div>


                    </article>




                        <div class="w-50-l w-100 center">
                          <div class="cf w-100 ">
                          <div class=" center">
                          <div class="fl w-100">
                          <p class="f3 lh-copy measure pb6">
                                  Oh yeah! And the keys to the van got lost lolol. I figured out that I didn't need to tow the van and could have just called a key guy, you live and you learn. Also key fobs are stupid expensive. How can you have bluetooth headphones and roombas cheaper than a fucking key... I digress.
                          </div>
                          </div>
                          </div>
                          </div>
                          <div class="w-50-l w-100 center">
                          <figure class="center pr2-l pb6">
                          <img class="db pb2 w-100 br3" src="images/van-tow.png" alt="first photo">
                          </figure>
                          </div>




  <!-- bishop -->
  <div class="w-50-l w-100 center">
    <div class="cf w-100 ">
    <div class=" center">
    <div class="fl w-100">
    <p class="f3 lh-copy measure pb6">
            Then we found out that Bishop is one of the most impressive and beautiful places we had ever been. The climbing was humbling but spending time in that Airbnb with friends made for a great long weekend and had us wanting to go backto bishop. But that unfortunately took another whole season.
    </div>
    </div>
    </div>
    </div>

  <main class="w-100 cf dark-gray bg-white center">
      <div class="fl w-100 mb3 ">
        <div class="cover br3 pv5 pv6-m pv7-l" style="background:black url(images/bishop_day-two-66.png) center;"></div>
      </div>
      <div class="fl w-50 pr2 mb3 ">
        <div class="cover br3 pv5 pv6-m pv7-l" style="background:black url(images/bishop_day-two-11.png) center;"> </div>
      </div>
      <div class="fl w-50 pl2 mb3">
          <div class="cover br3 pv5 pv6-m pv7-l" style="background:black url(images/bishop-1.png) left;"> </div>
        </div>
      <div class="cf">
        <div class="w-50-l w-100 center">
        <figure class="center pr2-l">
        <img class="db pb2 w-100 br3" src="images/bishop-5.png" alt="first photo">
        </figure>
        </div>

        <div class="fl w-100 pv0 mv0">
          <div class="fl w-100 pb3">
            <div class="cover br3 pv7" style="background:black url(images/bishop=3.png) center;"> </div>
          </div>
          <div class="fl w-50 pr2">
            <div class="cover br3 pv5 pv6-m pv7-l" style="background:black url(images/bishop-2.png) center;"> </div>
          </div>
          <div class="fl w-50 pl2 pb6">
            <div class="cover br3 pv5 pv6-m pv7-l" style="background:black url(images/bishop-6.png) center;"> </div>
          </div>
        </div>
      </div>

  </main>


  <!-- next chapter 2  -->

  <div class="cf dt-l w-100 bt b--black-20 pb6"></div>
  <div class="cf w-100 ">
    <div class="center">
    <h1 class=" tc f2-l w-60 center mb0">Chapter 2</h1>
    <p class="f3 lh-copy center pb6 tc">
  A new apartment, more adventures and growth as a partnership <3
    </p>
  </div>
  </div>



    <section class="center mw9-l w-100">

    <div class="vh-100 dt w-100 mb5">
    <div
    style="background:url(images/new-apartment.png) no-repeat center bottom;background-size: "
    class="dtc cover br3 ph6 ph7-l">
    </div>
    </div>

  <div class="cf w-100 ">
    <div class=" center ph2 ph3-l">
    <h1 class=" tc pb6 pt5 f2-l f3 w-60 center ">Okay, I know this came before our second year but I associate our apartment to our second year.</h1>
    </div>



  <div class="w-50-l w-100 center">
    <figure class="center pr2-l pb6 ">
    <img class="db pb2 w-100 br3" src="images/apartment-1.png" alt="first photo">
    <figcaption> Pretty lil gardner model. </figcaption>
    </figure>
    <div class="fl w-100 pb6">
    <p class="f3 lh-copy measure pb0">
    Ugh this new apartment was so good to us. It's the nicest place I have ever lived and we made this place our own. The windows, the garden, the cat tv. I will always remember this amazing home we made for ourselevs. I think we grew the best while living here and I started therapy in this place and you helped me through so much, as hard as that must have been, I will always be grateful for your patience and acceptance of me and my issues. Noone in my life has ever been so understanging and patient with me. For that I will be forever grateful and appreciative of you and how much you help me be a better person.
    </div>
    </div>


                      <article class=" pb6 cf">
                      <div class="pr2 fl   w-100 w-50-l">
                      <div class="aspect-ratio aspect-ratio--3x4">
                      <div class="aspect-ratio--object cover br3" style="background:url(images/back-yard.png) center;">
                      </div>
                      </div>
                      </div>
                      <div class="pl2 fl tc w-100 w-50-l">
                      <div class=" aspect-ratio aspect-ratio--3x4">
                      <div class="aspect-ratio--object cover br3" style="background:url(images/back-yard-2.png) center;">
                      </div>
                      </div>
                      </div>


                      </article>

                      <div class=" pb6 tc w-100 pt0 fl cf">
                          <p class="f2 ">
                      I loved watching you garden, and do pottery in our back yard. I miss princess sleeping on me when I pass out, and battmans spot on the couch. I think we did a great job with that place and we got to eat our very first harvest... well some tomatos and kale.
                          </p>
                          </div>







    <article class=" pb6 cf">
    <div class="pr2 fl tc pv4 w-100 w-50-m w-25-l">
    <div class="aspect-ratio aspect-ratio--3x4">
    <div class="aspect-ratio--object cover br3" style="background:url(images/batman.png) center;">
    </div>
    </div>
    </div>
    <div class="ph2 fl tc pv4 w-100 w-50-m w-25-l">
    <div class=" aspect-ratio aspect-ratio--3x4">
    <div class="aspect-ratio--object cover br3" style="background:url(images/princess.png) center;">
    </div>
    </div>
    </div>
    <div class="ph2 fl tc pv4 w-100 w-50-m w-25-l">
    <div class=" aspect-ratio aspect-ratio--4x3">
    <div class="aspect-ratio--object cover br3" style="background:url(images/pottery.png) center;">
    </div>
    </div>
    </div>
    <div class="pl2 fl tc pv4 w-100 w-50-m w-25-l">
    <div class=" aspect-ratio aspect-ratio--4x3">
    <div class="aspect-ratio--object cover br3" style="background:url(images/pottery-2.png) center;">
    </div>
    </div>
    </div>
    </article>




    <div class="w-50-l w-100 center">
      <div class="fl w-100 pb6">
      <p class="f3 lh-copy measure pb0">
      Season two of snowboarding in Tahoe, it was short but really fun! You definitely started to shred, blacks became more regular, albeit real scary.
      </div>
      </div>




    <article class=" pb6 cf">
    <div class="pr2 fl tc pv3 w-100 w-50-l">
    <div class="aspect-ratio aspect-ratio--3x4">
    <div class="aspect-ratio--object cover br3" style="background:url(images/snow-board-season-2.png) center;">
    </div>
    </div>
    </div>
    <div class="pl2 fl tc pv3 w-100 w-50-l">
    <div class=" aspect-ratio aspect-ratio--4x3">
    <div class="aspect-ratio--object cover br3" style="background:url(images/snowboard-season-2-3.png) center;">
    </div>
    </div>
    </div>


    </article>



    <div class="vh-100 dt w-100 tc white cover br3">
      <div class="dtc v-mid">
      <div class="ttu f-f1 tracked-tight black">LOL Covid 19 what the heck did we even do?</div>
    </div>
    </div>

    <div class=" center ph2 ph3-l">
    <h1 class=" tc pb7 pt5 f2-l f3 w-60 center ">Well, we found out that we really freaking liked UTAH. The climbing was better, the nature was better, the house was free, and seeing your parents is always my favorite. They make me feel like im a comedian (my childhood dream). Also I met the dog of my dreams. </h1>

  </div>

    <article class=" pb6 cf">
      <div class="pr2 fl tc pv4 w-100 w-third-l">
      <div class=" aspect-ratio aspect-ratio--4x3">
      <div class="aspect-ratio--object cover br3" style="background:url(images/utah-2.png) center;">
      </div>
      </div>
      </div>
    <div class="ph1 fl tc pv4 w-100 w-third-l">
    <div class="aspect-ratio aspect-ratio--3x4">
    <div class="aspect-ratio--object cover br3" style="background:url(images/utah.png) center;">
    </div>
    </div>
    </div>

    <div class="pl2 fl tc pv4 w-100 w-third-l">
    <div class=" aspect-ratio aspect-ratio--4x3">
    <div class="aspect-ratio--object cover br3" style="background:url(images/utah-3.png) center;">
    </div>
    </div>
    </div>
    </article>


    <div class=" center ph2 ph3-l">
    <h1 class=" tc pb7 pt5 f2-l f3 w-60 center ">And this leaves us here at the past couple weeks. These past few weeks have been amazing. Mountaing biking, crafts, climbing, hanging out watching the sunrise and fall. I feel so great here and it is so nice to have this much space for activites. I can't wait for the adventures we get into over the next two years and beyond! If it is anything like the last three, well, its going to be full of adventure and so much love. </h1>

  </div>

  <article class=" pb7 cf">
    <div class="pr2 fl tc pv4 w-100 w-50-l">
    <div class=" aspect-ratio aspect-ratio--3x4">
    <div class="aspect-ratio--object cover br3" style="background:url(images/utah-now.png) center;">
    </div>
    </div>
    </div>
  <div class="pl2 fl tc pv4 w-100 w-50-l">
  <div class="aspect-ratio aspect-ratio--4x3">
  <div class="aspect-ratio--object cover br3" style="background:url(images/utah-now-2.png) center;">
  </div>
  </div>
  </div>

  </article>


  <div class=" center ph2 ph3-l">
  <h1 class=" tc pb7 f2-l f3 w-60 center ">I love you, Olivia. </h1>

  </div>



  <div class="w-50-l w-100 center">
  <figure class="center pr2-l pb6">
  <img class="db pb2 w-100 br3" src="images/utah-now-3.png" alt="first photo">
  </figure>
  </div>


  <!-- next chapter 3  -->

  <div class="cf dt-l w-100 bt b--black-20 pb6"></div>
  <div class="cf w-100 ">
    <div class="center">
    <h1 class=" tc f2-l w-60 center mb0">Chapter 3</h1>
    <p class="f3 lh-copy center pb6 tc"><span class="i">
  To be continued...</span
    </p>
  </div>
  </div>
  <span class="i">web</span>-lane.

    </section>
    </article>



  <!-- {{content}} -->
  </div>
  {% include _footer.html %}
  {% include _google_analytics.html %}

</body>
</html>
